<section id="patreon">
  <h1>{{i18n "patreon.header.rules"}}</h1>
  <table>
    <thead>
      <tr>
        <th>{{i18n "patreon.group"}}</th>
        <th>{{i18n "patreon.rewards"}}</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {{#each model as |rule|}}
        <tr class="">
          <td>{{rule.group}}</td>
          <td>{{rule.rewards}}</td>
          <td>
            <div class="pull-right">
              <DButton
                @action="delete"
                @actionParam={{rule}}
                @icon="far-trash-alt"
                @class="delete btn-danger"
                @title="patreon.delete"
              />
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>

    <tfoot>
      <tr class="new-filter">
        <td><ComboBox
            @value={{editing.group_id}}
            @content={{groups}}
            @nameProperty="name"
            @valueProperty="id"
            @none="patreon.select_group"
          /></td>
        <td><ListSetting
            @value={{editing.reward_list}}
            @choices={{rewardsNames}}
            @class="rewards"
          /></td>
        <td>
          <div class="pull-right">
            <DButton
              @action="save"
              @icon="check"
              @class="save btn-primary"
              @title="patreon.save"
            />
          </div>
        </td>
      </tr>
    </tfoot>
  </table>

  <p>{{i18n "patreon.help_text"}}</p>

  <DButton
    @action="updateData"
    @icon="refresh"
    @class="test"
    @disabled={{updatingData}}
    @title="patreon.update_data"
    @label="patreon.update_data"
  />

  {{#if last_sync_at}}
    <span class="last_synced">{{i18n "patreon.last_synced"}}:
      {{html-safe (format-date last_sync_at leaveAgo="true")}}</span>
  {{/if}}
</section>