<section id="patreon">
  <h1>{{i18n "patreon.header.rules"}}</h1>
  <table>
    <tr>
      <th>{{i18n "patreon.group"}}</th>
      <th>{{i18n "patreon.rewards"}}</th>
      <th></th>
    </tr>

    {{#each filters as |rule|}}
      <tr class="">
        <td>{{rule.group}}</td>
        <td>{{rule.rewards}}</td>
        <td>
          <div class="pull-right">
            {{d-button action="delete" actionParam=rule icon="trash-o" class="delete btn-danger" title="patreon.delete"}}
          </div>
        </td>
      </tr>
    {{/each}}

    <tr class="new-filter">
      <td>{{combo-box value=editing.group_id content=groups}}</td>
      <td>{{list-setting settingValue=editing.reward_list choices=rewards_names placeholder='One or more rewards' class="rewards"}}</td>
      <td>
        <div class="pull-right">
          {{d-button action="save" icon="save" class="save btn-primary" title="patreon.save"}}
        </div>
      </td>
    </tr>
  </table>

  {{!-- TODO translate --}}
  <p>You can choose a Discourse group to one or more Patreon reward tiers.</p>
</section>
